
.DS_Store
Arduino Nano rev1.2/PCB/Arduino Nano rev 1.2/Arduino Nano rev 1-backups/Arduino Nano rev 1-2020-11-20_191542.zip
Arduino Nano rev1.2/PCB/Arduino Nano rev 1.2/Arduino Nano rev 1-backups/Arduino Nano rev 1-2020-11-20_192106.zip
